/* line 5, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
body {
  background-color: grey;
}

/* line 18, ../sass/style.scss */
.text-centered {
  text-align: center;
}

/* line 22, ../sass/style.scss */
.container {
  width: 1000px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  font-size: 62.5%;
}
/* line 29, ../sass/style.scss */
.container .header {
  background-image: url(../img/bgimg.png);
  height: 600px;
  width: 100%;
}
/* line 34, ../sass/style.scss */
.container .header .bar {
  background-color: #fcfcfc;
}
/* line 36, ../sass/style.scss */
.container .header .bar .red-circle {
  background-color: red;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 40, ../sass/style.scss */
.container .header .bar .yellow-circle {
  background-color: #ffef25;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 44, ../sass/style.scss */
.container .header .bar .green-circle {
  background-color: green;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 49, ../sass/style.scss */
.container .header .login-info {
  float: right;
  margin-top: 20px;
  font-size: 1.5em;
}
/* line 54, ../sass/style.scss */
.container .header .login-info a {
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
}
/* line 59, ../sass/style.scss */
.container .header .login-info .signin-btn {
  padding: 8px;
  margin-right: 20px;
  border: 1px solid #ffffff;
}
/* line 65, ../sass/style.scss */
.container .header .search-info {
  width: 100%;
  margin: 200px auto;
  font-family: sans-serif;
}
/* line 69, ../sass/style.scss */
.container .header .search-info h2, .container .header .search-info h4, .container .header .search-info .search-btn, .container .header .search-info .search-fields {
  text-align: center;
  color: #fcfcfc;
}
/* line 75, ../sass/style.scss */
.container .header .search-info h2 {
  font-size: 2.5em;
  margin: 10px 0px 0px 0px;
}
/* line 80, ../sass/style.scss */
.container .header .search-info h4 {
  font-size: 1.3em;
  margin: 10px 0px;
  color: #dddddd;
}
/* line 86, ../sass/style.scss */
.container .header .search-fields {
  margin-top: 30px;
}
/* line 89, ../sass/style.scss */
.container .header .search-fields input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(221, 221, 221, 0.29);
  border: none;
  height: 60px;
  width: 50%;
  font-size: 1.4em;
}
/* line 99, ../sass/style.scss */
.container .header .search-fields button {
  width: 10%;
  height: 60px;
  color: #fcfcfc;
  background-color: #74f37f;
  border: none;
  font-size: 1.4em;
}
