/* line 5, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/style.scss */
body {
  background-color: grey;
  font-family: sans-serif;
}

/* line 19, ../sass/style.scss */
.text-centered {
  text-align: center;
}

/* line 23, ../sass/style.scss */
.container {
  width: 1000px;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  font-size: 62.5%;
}
/* line 30, ../sass/style.scss */
.container .fa-7x {
  font-size: 7em;
}
/* line 34, ../sass/style.scss */
.container .fa-3x {
  font-size: 5em;
}
/* line 38, ../sass/style.scss */
.container .fa-2x {
  font-size: 3em;
}
/* line 42, ../sass/style.scss */
.container .header {
  background-image: url(../img/header.jpg);
  height: 600px;
  width: 100%;
}
/* line 47, ../sass/style.scss */
.container .header .bar {
  background-color: #fcfcfc;
}
/* line 49, ../sass/style.scss */
.container .header .bar .red-circle {
  background-color: red;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 53, ../sass/style.scss */
.container .header .bar .yellow-circle {
  background-color: #ffef25;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 57, ../sass/style.scss */
.container .header .bar .green-circle {
  background-color: green;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 10px 5px;
}
/* line 62, ../sass/style.scss */
.container .header .login-info {
  float: right;
  margin-top: 20px;
  font-size: 1.5em;
}
/* line 67, ../sass/style.scss */
.container .header .login-info a {
  color: #fafafa;
  margin: 5px;
  text-decoration: none;
  font-style: bold;
}
/* line 73, ../sass/style.scss */
.container .header .login-info .signin-btn {
  padding: 8px;
  margin-right: 20px;
  border: 1px solid #fafafa;
}
/* line 79, ../sass/style.scss */
.container .header .search-info {
  width: 100%;
  margin: 200px auto;
}
/* line 83, ../sass/style.scss */
.container .header .search-info h2, .container .header .search-info h4, .container .header .search-info .search-btn, .container .header .search-info .search-fields {
  text-align: center;
  color: #fafafa;
}
/* line 89, ../sass/style.scss */
.container .header .search-info h2 {
  font-size: 2.5em;
  margin: 10px 0px 0px 0px;
}
/* line 94, ../sass/style.scss */
.container .header .search-info h4 {
  font-size: 1.3em;
  margin: 10px 0px;
  color: #eeeeee;
}
/* line 100, ../sass/style.scss */
.container .header .search-fields {
  margin-top: 30px;
}
/* line 103, ../sass/style.scss */
.container .header .search-fields input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(221, 221, 221, 0.29);
  border: none;
  height: 50px;
  width: 50%;
  font-size: 1.4em;
}
/* line 113, ../sass/style.scss */
.container .header .search-fields button {
  width: 10%;
  height: 50px;
  color: #fcfcfc;
  background-color: #66d690;
  border: none;
  font-size: 1.4em;
}
/* line 125, ../sass/style.scss */
.container .content {
  width: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: rgba(241, 240, 237, 0);
}
/* line 131, ../sass/style.scss */
.container .content .data {
  height: 114px;
  margin: -60px auto 0px;
  width: 80%;
  background-color: #f1f0ed;
}
/* line 136, ../sass/style.scss */
.container .content .data li {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-top: 40px;
  padding-bottom: 31px;
  text-align: center;
  border: 1px solid rgba(221, 221, 221, 0.98);
}
/* line 146, ../sass/style.scss */
.container .content .data h2 {
  font-size: 3.2em;
  padding-bottom: 10px;
}
/* line 151, ../sass/style.scss */
.container .content .data paragraph {
  font-size: 1.8em;
  color: #8f8f8f;
}
/* line 157, ../sass/style.scss */
.container .content .compare {
  background-color: #f1f0ed;
  height: 450px;
  margin-top: -60px;
  padding-top: 60px;
  text-align: center;
  border-bottom: 2px solid #dddddd;
  color: #666666;
}
/* line 166, ../sass/style.scss */
.container .content .compare .title {
  color: #5a5f6f;
  font-size: 2.5em;
  padding: 50px 0 85px 0;
  border-bottom: 2px solid #dddddd;
  width: 62%;
  margin-left: 190px;
}
/* line 175, ../sass/style.scss */
.container .content .compare .title::before {
  content: "";
  display: block;
  z-index: 0;
  position: relative;
  width: 40px;
  margin: 0 auto;
  border-top: 3px solid #e6e6e6;
  border-bottom: 1px solid #fcfcfc;
  top: 30px;
}
/* line 187, ../sass/style.scss */
.container .content .compare ul {
  margin-top: -27px;
  margin-left: 45px;
}
/* line 192, ../sass/style.scss */
.container .content .compare li {
  text-align: center;
  width: 30.7%;
  float: left;
}
/* line 198, ../sass/style.scss */
.container .content .compare li .description {
  margin-left: 40px;
  width: 245px;
}
/* line 203, ../sass/style.scss */
.container .content .compare li h2 {
  font-size: 2.5em;
  text-align: center;
  width: 18px;
  margin: auto;
  padding: 17px;
  color: #9d9d9d;
  border-radius: 100%;
  border: 2px solid #dddddd;
  background-color: #f1f0ed;
}
/* line 215, ../sass/style.scss */
.container .content .compare li i {
  margin: 30px auto;
}
/* line 219, ../sass/style.scss */
.container .content .compare li .fa-list-alt {
  color: #e2a961;
}
/* line 223, ../sass/style.scss */
.container .content .compare li .fa-pencil {
  color: #735a9e;
}
/* line 227, ../sass/style.scss */
.container .content .compare li .fa-users {
  color: #4a60cd;
}
/* line 231, ../sass/style.scss */
.container .content .compare li h3 {
  font-size: 3.2em;
  margin-bottom: 30px;
}
/* line 236, ../sass/style.scss */
.container .content .compare li paragraph {
  font-size: 1.8em;
  line-height: 20px;
  margin: 10px auto 120px auto;
  color: #b1b4b9;
  width: 20%;
}
/* line 248, ../sass/style.scss */
.container .content .reason {
  background-color: #f1f0ed;
  height: 520px;
  text-align: center;
  border-bottom: 2px solid #dddddd;
  color: #666666;
}
/* line 255, ../sass/style.scss */
.container .content .reason h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 3.2em;
}
/* line 261, ../sass/style.scss */
.container .content .reason h1::before {
  content: "";
  display: block;
  z-index: 0;
  position: relative;
  width: 40px;
  margin: 0 auto;
  border-top: 3px solid #e6e6e6;
  border-bottom: 1px solid #fcfcfc;
  top: 30px;
}
/* line 273, ../sass/style.scss */
.container .content .reason ul {
  overflow: hidden;
  text-align: left;
  margin-left: 60px;
}
/* line 279, ../sass/style.scss */
.container .content .reason li {
  box-sizing: border-box;
  width: 50%;
  float: left;
  margin: 20px 0;
  position: relative;
  padding-left: 75px;
  padding-right: 80px;
}
/* line 289, ../sass/style.scss */
.container .content .reason i {
  position: absolute;
  margin-left: -12%;
}
/* line 294, ../sass/style.scss */
.container .content .reason .fa-check {
  color: #6ee78e;
}
/* line 298, ../sass/style.scss */
.container .content .reason .fa-refresh {
  color: #3bb4ec;
}
/* line 302, ../sass/style.scss */
.container .content .reason .fa-file-text {
  color: #f99b2b;
}
/* line 306, ../sass/style.scss */
.container .content .reason .fa-tag {
  color: #b583ff;
}
/* line 310, ../sass/style.scss */
.container .content .reason .fa-user {
  color: #ff589a;
}
/* line 314, ../sass/style.scss */
.container .content .reason .fa-thumbs-up {
  color: #dba718;
}
/* line 318, ../sass/style.scss */
.container .content .reason h2 {
  font-size: 3.2em;
  margin-bottom: 20px;
}
/* line 323, ../sass/style.scss */
.container .content .reason paragraph {
  font-size: 2.0em;
  color: darkgrey;
}
/* line 330, ../sass/style.scss */
.container .content .people {
  background-color: #f1f0ed;
  height: 520px;
  text-align: center;
  border-bottom: 2px solid #dddddd;
  color: #666666;
}
/* line 337, ../sass/style.scss */
.container .content .people .tabs {
  margin: 0 auto;
  width: 410px;
  overflow: hidden;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 3em;
}
/* line 347, ../sass/style.scss */
.container .content .people .tabs li {
  width: 200px;
  float: left;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #4e5367;
  border: 1px #4e5367 solid;
  color: #f6f6f6;
}
/* line 359, ../sass/style.scss */
.container .content .people .tabs li:last-child {
  background-color: #f6f6f6;
  color: #4e5367;
}
/* line 365, ../sass/style.scss */
.container .content .people .fa-quote-left {
  color: rgba(173, 173, 173, 0.77);
  margin-bottom: 20px;
}
/* line 370, ../sass/style.scss */
.container .content .people .sentence {
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 375, ../sass/style.scss */
.container .content .people .name {
  font-size: 3em;
  margin: 20px auto;
}
/* line 380, ../sass/style.scss */
.container .content .people .title {
  font-size: 3em;
  color: darkgrey;
}
/* line 385, ../sass/style.scss */
.container .content .people .avatar {
  margin: 20px auto 120px auto;
  overflow: hidden;
  text-align: center;
  width: 552px;
}
/* line 391, ../sass/style.scss */
.container .content .people .avatar li {
  float: left;
  width: 120px;
  margin: auto 25px;
  border-radius: 50%;
  border: 1px #ddd solid;
  padding: 6px;
}
/* line 400, ../sass/style.scss */
.container .content .people .avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* line 412, ../sass/style.scss */
.container .bottom {
  background-image: url(../img/footer.jpg);
  height: 300px;
  width: 100%;
  text-align: center;
}
/* line 418, ../sass/style.scss */
.container .bottom .search-fields {
  padding-top: 100px;
}
/* line 422, ../sass/style.scss */
.container .bottom span {
  font-size: 2.3em;
  margin-right: 30px;
  color: white;
}
/* line 428, ../sass/style.scss */
.container .bottom input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fcfcfc;
  border: none;
  height: 48px;
  width: 40%;
  font-size: 1.4em;
}
/* line 438, ../sass/style.scss */
.container .bottom button {
  width: 10%;
  height: 50px;
  color: #fcfcfc;
  background-color: #66d690;
  border: none;
  font-size: 1.4em;
}
/* line 448, ../sass/style.scss */
.container footer {
  background-color: #fcfcfc;
  height: 80px;
  font-size: 1.5em;
}
/* line 453, ../sass/style.scss */
.container footer ul {
  padding: 30px 0 0 30px;
}
/* line 457, ../sass/style.scss */
.container footer ul li {
  display: inline-block;
  margin: auto 20px;
}
/* line 460, ../sass/style.scss */
.container footer ul li a {
  text-decoration: none;
  color: #adadad;
}
/* line 465, ../sass/style.scss */
.container footer ul li i {
  float: right;
  margin: auto 30px;
  font-size: 1.4em;
}
/* line 471, ../sass/style.scss */
.container footer ul li .fa-twitter {
  color: #3a7aaf;
}
/* line 475, ../sass/style.scss */
.container footer ul li .fa-facebook {
  color: #3d5ea8;
}
/* line 481, ../sass/style.scss */
.container footer ul li:last-child {
  margin-left: 200px;
}
